.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  &__desc {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $dark;
  }
  &__icons {
    display: flex;
  }
  &__icon {
    padding: 12px;
    cursor: pointer;
  }
}
